node_modules
**/node_modules

dist
**/dist
coverage
**/coverage
.turbo
.pnpm-store

.git
.gitignore
.vscode
.idea

.env
.env.*
!.env.example

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile*
docker-compose*.yml
.DS_Store

tests
tmp
